#service_detail{
    background-color: transparent;
    box-shadow: none;
    bordered: false;
    border-color: transparent;
}
#comments{
    background-color: transparent;
    box-shadow: none;
    bordered: false;
    overflow-y:auto;

    border-color: transparent;
}
#details_text{
    padding-top: 75px;
    padding-left: 20px;
    padding-bottom: 10px;
}
#review_text{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom:1px solid #FFA500;
}

#map{
    margin: 20px;
    background: #FFA500;
}

.heart {
    font-size: 25px;
    color: #eb2f96;
    float: center;
    margin: 10px;
}