#service_detail{
    background-color: transparent;
    box-shadow: none;
    bordered: false;
}
#comments{
    background-color: transparent;
    box-shadow: none;
    bordered: false;
    overflow-y:auto;
    max-height: 200px;
}
#details_text{
    padding-top: 75px;
    padding-left: 20px;
    padding-bottom: 10px;
}
#review_text{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom:1px solid whitesmoke;
}
#heart{
    padding: 5px 0;
    padding-left: 190px;
    width: 30px;
    block: false;
}
#map{
    margin: 20px
}